@import "../../../../styles/variables.scss";
@import "../../../../styles/responsive.scss";

.deleteLeave {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  
  .modal {
    padding: 50px;
    border-radius: 10px;
    background-color: $main-bg;
    position: relative;
    z-index: 999;
    max-width: 400px;

    @include sm {
      width: 80%;
    }

    h1 {
      margin-bottom: 40px;
      font-size: 24px;
      color: $soft-color;
    }

    .buttons{
      display: flex;
      justify-content: space-between;
      align-items: center;

      button{
        padding: 10px 20px;
        width: 40%;
      }

      .deleteBtn {
        background-color: red;
        color: white;
      }
    }

  }
}