@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: linear-gradient(180deg, $main-bg, $soft-bg, teal);
  scrollbar-width: thin;
}

*::selection {
  background-color: white;
  color: $main-bg;
}

*::-webkit-scrollbar {
  height: .31rem;
  width: .625rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, $main-bg, $soft-bg, teal);
}


a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}

.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg {
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  overflow: auto;
}