@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: linear-gradient(180deg, $main-bg, $soft-bg, teal);
  scrollbar-width: thin;
}

*::selection {
  background-color: white;
  color: $main-bg;
}

*::-webkit-scrollbar {
  height: .31rem;
  width: .625rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, $main-bg, $soft-bg, teal);
}

body {
  background-color: $main-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  color: $main-color;
}



.container {
  display: flex;
}

.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
  background-color: $main-bg;

  @include lg {
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    transition: transform 0.3s ease;
    z-index: 999;
  }
}

.menuContainer.active {
  @include lg {
    transform: translateX(250px);
  }
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
  overflow: auto;
}

.backdrop.active {
  @include lg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.724);
  }
}