@import "../../../../styles/variables.scss";
@import "../../../../styles/responsive.scss";

.addSubstituteEmployee {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  
  .modal {
    padding: 50px;
    border-radius: 10px;
    background-color: $main-bg;
    position: relative;
    z-index: 999;

    @include sm {
      width: 90%;
    }

    h1 {
      margin-bottom: 40px;
      font-size: 24px;
      color: $soft-color;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      justify-content: space-between;

      @include sm {
        flex-direction: column;
      }

      .item {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        @include sm {
          width: 100%;
        }

        label {
          font-size: 14px;
        }

        input {
          padding: 10px;
          background-color: transparent;
          color: white;
          outline: none;
          border: 1px solid $soft-color;
          border-radius: 3px;
          width: 100%;
          text-transform: capitalize;
        }

        select {
          padding: 10px;
          background-color: transparent;
          color: white;
          outline: none;
          border: 1px solid $soft-color;
          border-radius: 3px;
          width: 100%;

          option {
            color: $main-bg;
            font-weight: 600;
          }
        }
      }

      input[type='submit'] {
        width: 100%;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}