@import '../../../../../styles//responsive.scss';

.hiMenu {
    color: white;
    cursor: pointer;
    display: none;

    @include md {
        display: block;
    }
}

.closeMenu {
    color: white;
    cursor: pointer;
}

.menu-active {
    .closeMenu {
        @include md {
            display: block;
        }
    }
}

