@import "../../../../styles/variables.scss";
@import "../../../../styles/responsive.scss";

.menu {
  min-height: 80vh;
  position: relative;

  .header {
    display: none;

    @include lg {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;

      .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 10px;
      }
    }
  }


  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }
    }
  }

  .logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;

    &:hover {
      background-color: $soft-bg;
      color: white;
    }
  }
}