@import '../../../../styles//variables.scss';
.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: $main-bg;
  width: 100%;
  
  span{

    &:first-child{
      font-weight: bold;
    }

    &:last-child{
      font-size: 14px;
    }
  }
}