@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.signin-signup {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $main-bg;

    .wrapper {
        position: relative;
        max-width: 440px;
        width: 100%;
        border-radius: 12px;
        padding: 20px 30px 120px;
        background: $soft-bg;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        @include lg {
            max-width: 420px;
        }

        @include md {
            max-width: 400px;
        }

        @include sm {
            max-width: 380px;
        }
    }

    .form.login {
        position: absolute;
        left: 50%;
        bottom: -86%;
        transform: translateX(-50%);
        width: calc(100% + 220px);
        padding: 20px 140px;
        border-radius: 50%;
        height: 100%;
        background: $main-color;
        transition: all 0.6s ease;
    }

    .wrapper.active .form.login {
        bottom: -12%;
        border-radius: 35%;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    }

    .form header {
        font-size: 30px;
        text-align: center;
        color: $main-color;
        font-weight: 600;
        cursor: pointer;
    }

    .form.login header {
        color: $dark-color;
        opacity: 0.6;
    }

    .wrapper.active .form.login header {
        opacity: 1;
    }

    .wrapper.active .signup header {
        opacity: 0.6;
    }

    .wrapper form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }

    form input {
        height: 60px;
        padding: 0 15px;
        font-size: 16px;
        font-weight: 400;
        color: $main-color;
        border-radius: 8px;
        background: $main-bg;
    }

    .form.login input {
        color: $main-color;
        border: 1px solid #aaa;
    }

    .form.login input:focus {
        box-shadow: 0 1px 0 #ddd;
    }

    form .checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .checkbox input[type="checkbox"] {
        height: 16px;
        width: 16px;
        accent-color: $main-color;
        cursor: pointer;
    }

    form .checkbox label {
        cursor: pointer;
        color: $main-color;
    }

    form a {
        color: $dark-color;
        text-decoration: none;
    }

    form a:hover {
        text-decoration: underline;
    }

    form input[type="submit"] {
        margin-top: 15px;
        padding: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        background: teal;
    }

    .form.login input[type="submit"] {
        background: teal;
        color: $main-color;
        border: none;
    }
}