@import '../../../../styles/variables.scss';
@import '../../../../styles/responsive.scss';

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(180deg, transparent, $main-bg);
  width: 100%;

  span{

    &:first-child{
      font-weight: bold;
    }

    &:last-child{
      font-size: 14px;
    }
  }
}